*{
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: poppins;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
}
body{
    font-family: poppins, sans-serif;
}
header{
    background-image: url(images/banner-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    font-weight: 600;
    color: white;
    padding-top: 2rem;
    text-align: center;
}
/*Navigation*/
header img{
    float: left;
    margin-left: 3rem;
}
nav .main_pages{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav{
    position: absolute;
    top: 2.3rem;
    right: 7rem;
}
header li{
    list-style: none;
    display: table-cell;
    padding: 0.8rem 0.7rem;
}
header .interne a{
    padding: 0 1rem;
}
header .social{
    font-size: 1.5em;
}
i{
    opacity: 50%;
}
i:hover{
    opacity: 100%;
}
.ul{
    display: flex;
    justify-content: center;
    padding-bottom: 8rem;
}
li a{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
header a img{
    width: auto;
}
label{
    display: none;
}
label, #toggle{
    display: none;
}
/*Text*/
h1{
    font-size: 3rem;
    text-shadow: 0px 0px 0.1em #282828;
    margin-top: 8rem;
    margin-bottom: 4rem;
}
.circle{
    margin-top: auto;
    margin-bottom: auto;
    color: yellow;
}
header p{
    color: #999999;
}

section{
    margin: 150px 10px;
}
.ligne > img{
    width: 320px;
    height: 250px;
    margin: 15px;
}
/*Bot*/
footer{
    background-color: #282828;
    padding-top: 8rem;
    padding-bottom: 8rem;
    text-align: center;
}
/*Navigation*/
footer img{
    padding-bottom: 2rem;
}
footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
footer li{
    margin: 2rem 2rem;
    font-weight: 700;
}
footer i{
    font-size: 1.8em;
    margin-bottom: 4rem;
    width: 30px;
    height: 30px;
    padding: 1rem;
    border-radius: 50%;
    background-color: #444444;
}
/*Text*/
small{
    color: white;
    opacity: 70%;
}
/*Button*/
.up{
    position: fixed;
    color: white;
    bottom: 5rem;right: 5rem;
    padding: 1rem 1rem;
    background-color: #8121e0;
    border-radius: 0.5rem;
}

